@using MvcCV.Models.Entity;
@model TBLHobby
@{
    ViewBag.Title = "GetHobby";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="col-md-12 p-5">
    <h2>Update Hobby</h2>
    <form method="post">
        @Html.Label("Hobby ID")
        @Html.TextBoxFor(x => x.ID, new { @class = "form-control", @readonly = "readonly" })
        <br />
        @Html.Label("Description Field One")
        @Html.TextBoxFor(x => x.Description, new { @class = "form-control", placeholder = "Enter a Description Text For Hobby" })
        <br />
        @Html.Label("Company Name")
        @Html.TextBoxFor(x => x.SubDescription, new { @class = "form-control", placeholder = "(Optional) Enter a Description Text For Hobby" })
        <br />
        <button class="btn btn-success">Save</button>
    </form>
</div>

