@using MvcCV.Models.Entity;
@model TBLEducation
@{
    ViewBag.Title = "GetEducation";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="col-md-12 p-5">
    <h2>Update Education</h2>
    <form method="post">
        @Html.Label("Education ID")
        @Html.TextBoxFor(x => x.ID, new { @class = "form-control", @readonly = "readonly" })
        <br />
        @Html.Label("School Name")
        @Html.TextBoxFor(x => x.Title, new { @class = "form-control", placeholder = "Enter a Job Title" })
        <br />
        @Html.Label("Departmant")
        @Html.TextBoxFor(x => x.Subtitle, new { @class = "form-control", placeholder = "Enter a Company Name" })
        <br />
        @Html.Label("Description")
        @Html.TextAreaFor(x => x.OptionalSubtitle, new { @class = "form-control", placeholder = "Enter a Job Description", rows = 5 })
        <br />
        @Html.Label("Gpa")
        @Html.TextBoxFor(x => x.Gpa, new { @class = "form-control", placeholder = "Enter An Employment Period" })
        <br />
        @Html.Label("Date")
        @Html.TextBoxFor(x => x.Date, new { @class = "form-control", placeholder = "Enter An Employment Period" })


        <button class="btn btn-success">Save</button>
    </form>
</div>
