@using MvcCV.Models.Entity;
@model List<TBLExperience>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<div class="col-md-12">
    <h2>Experience List</h2>
    <table class="table table-bordered">
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Company</th>
            <th>Description</th>
            <th>Date</th>
            <th>Delete</th>
            <th>Edit</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ID</td>
                <td>@item.Title</td>
                <td>@item.Subtitle</td>
                <td>@item.Description</td>
                <td>@item.Date</td>
                <td><a href="/Experience/Delete/@item.ID" class="btn btn-danger">Delete</a></td>
                <td><a href="/Experience/GetExperience/@item.ID" class="btn btn-warning">Edit</a></td>
            </tr>
        }

    </table>
    <a href="/Experience/AddExperience" class="btn btn-success">Add Experience</a>
</div>
